/* .watch {
    padding: 10vh 0 0 0;
} */

.watch {
    /* padding: 2rem 0 0 0; */
    padding: 5% 0 0 0;
}

.watch iframe {
    border-radius: 1rem;
}

@media (max-width: 1024px) {
    iframe {
        width: 100%;
        aspect-ratio: 16/9;
    }
}