.card {
    display: flex;
    padding: 0 0.5rem 0 0.5rem;
    flex-direction: column;
    align-items: flex-end;
}

.cover {
    border-radius: 0.8rem;
}

.cover:hover {
    transform: scale(1.02);
    box-shadow: 0 0 0.1rem #222222;
    border-radius: 1rem;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 1rem;
    background-color: #00000070;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    position: absolute;
    padding: 1.1rem;
    margin: 0.03% 0.03% 0 0;
    /* padding: 20px; */
    /* box-shadow: 1px 1px 4px #000000; */
    /* padding: 10% 0 0 0; */
}

.icon:hover {
    background-color: #000000;
    cursor: pointer;
}