.slick-prev:before,
.slick-next:before {
    /* width: 100vw; */
    color: #FFFFFF;
    font-size: 1.5rem;
    background-color: #000000;
    border-radius: 1rem;
    
}

/* .slick-next{  
    left: 130px; */
    /* display: block; */
   /*  display: flex;
    justify-content: flex-end;
    float: left; */
/* } */

