* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF4EC;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* formatação geral dos cards */
/* .cards {
  display: flex;
  justify-content: center; */
  /* margin: 0.1vw 0rem 0rem 0.1vw; */
/*   gap: 0.2vw;
  flex-wrap: wrap;
} */

body::-webkit-scrollbar {
  width: 0.5rem;
  /* background-color: #222222; */
  background-color: #000000;
}

body::-webkit-scrollbar-track {
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: #FAF4EC;
  border-radius: 0.5rem;
  border: 1px solid #000000;
}
