.banner {
    /* width: auto; */
    width: 100%;
    height: auto;
   /*  height: 338px; */
/*     height: 347px; */
    /* height: 9%; */
    /* background-image: url('/public/images/aurora-borealis-loop5.gif'); */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    object-fit: cover;
    /* padding-top: 50rem; */
    padding: 50rem 0 0 0;
    margin: 0;
    /* padding: 50rem 0rem 0rem 0rem; */
    /* margin: 10%; */
    /* padding: 0% 0 0 0; */
    /* border: 1px solid #000000; */
    border-radius: 1rem;
    /* border-radius: 1rem; */
}

/* .banner image {
    border-radius: 0.5rem;
} */

img {
    border-radius: 1rem;
}